<!-- Carousel Start -->
<div class="carousel-header">
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img
          src="../../../../assets/images/pexels-freestockpro-1004584.jpg"
          class="img-fluid"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="p-3" style="max-width: 900px">
            <h1 class="display-2 text-capitalize text-white mb-4">
              Fly Smarter, Book Easier.
            </h1>
            <div class="d-flex align-items-center justify-content-center">
              <a
                class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                routerLink="/destinations"
                >Discover Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../assets/images/pexels-freestockpro-1008155.jpg"
          class="img-fluid"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="p-3" style="max-width: 900px">
            <h1 class="display-2 text-capitalize text-white mb-4">
              Book. Fly. Enjoy.
            </h1>
            <div class="d-flex align-items-center justify-content-center">
              <a
                class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                href="#"
                >Discover Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../assets/images/pexels-olly-3769146.jpg"
          class="img-fluid"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="p-3" style="max-width: 900px">
            <h4
              class="text-white text-uppercase fw-bold mb-4"
              style="letter-spacing: 3px"
            >
              Explore The World
            </h4>
            <h1 class="display-2 text-capitalize text-white mb-4">
              Your Journey, Our Expertise.
            </h1>
            <div class="d-flex align-items-center justify-content-center">
              <a
                class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                href="#"
                >Discover Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon btn bg-primary"
        aria-hidden="false"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon btn bg-primary"
        aria-hidden="false"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid about py-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-5">
        <div
          class="h-100"
          style="
            border: 50px solid;
            border-color: transparent #13357b transparent #13357b;
          "
        >
          <img
            src="../../../assets/images/home-about-us.jpg"
            class="img-fluid w-100 h-100"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-lg-7"
        style="
          background: linear-gradient(
              rgba(255, 255, 255, 0.8),
              rgba(255, 255, 255, 0.8)
            ),
            url(../../../assets/images/about-img-1.png);
        "
      >
        <h5 class="section-about-title pe-3">About Us</h5>
        <h1 class="mb-4">
          Welcome to <span class="text-primary">SkyFlightz</span>
        </h1>
        <p class="mb-4">
          At SkyFlightz, we believe in making travel dreams a reality. Whether
          you're planning a quick getaway or a global adventure, our mission is
          to simplify the booking process and enhance your travel experience
          from start to finish.
        </p>
        <p class="mb-4">
          Transparency, reliability, and customer-centricity are at the core of
          everything we do. We aim to empower travelers by providing them with
          the tools and information they need to make informed decisions and
          create memorable travel experiences.
        </p>
        <p class="mb-4">
          Join thousands of satisfied travelers who trust SkyFlightz for their
          travel needs. Let us help you plan your next adventure and turn your
          travel aspirations into unforgettable experiences.
        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Effortless
              Booking
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Competitive
              Prices
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Customer
              Satisfaction
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Global Reach
            </p>
          </div>

          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
  <div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px">
      <h5 class="section-title px-3">Services</h5>
      <h1 class="mb-0">Our Services</h1>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
        >
          <div class="service-content text-end">
            <h5 class="mb-4">WorldWide Travel</h5>
            <p class="mb-0">
              SkyFlightz partner with airlines worldwide, offering access to
              flights to virtually any destination with commercial airports. We
              cover major cities, remote locations, and international hubs,
              ensuring travelers can travel almost anywhere on the globe.
            </p>
          </div>
          <div class="service-icon p-4">
            <i class="fa fa-globe fa-4x text-primary"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
        >
          <div class="service-icon p-4">
            <i class="fa fa-hospital fa-4x text-primary"></i>
          </div>
          <div class="service-content">
            <h5 class="mb-4">Travel Insurance</h5>
            <p class="mb-0">
              Offer travelers the choice to purchase travel insurance covering
              trip cancellations, medical emergencies abroad, lost luggage, and
              other unforeseen circumstances. Seamlessly integrate insurance
              options into the booking process, allowing users to add insurance
              with just a few clicks.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="row g-4">
        <div class="col-12">
          
        </div>
        
        <div class="col-12">
          <div
            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
          >
            <div class="service-content text-end">
              <h5 class="mb-4">Booking Management</h5>
              <p class="mb-0">
                We book the flights for users directly, ensuring the safety of
                personal and payment information. We also take care of the
                seat selection preferences of travelers during the booking
                process, such as window or aisle seats. We provide amends for
                the users to their bookings, such as rescheduling flights or
                adding extra services (e.g., baggage allowance, meal
                preferences). Skyflightz facilitate easy cancellation of
                bookings with transparent refund policies, displaying
                applicable fees or penalties.
              </p>
            </div>
            <div class="service-icon p-4">
              <i class="fa fa-user fa-4x text-primary"></i>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div
            class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
          >
            <div class="service-content text-end">
              <h5 class="mb-4">Flight Alerts and Notifications</h5>
              <p class="mb-0">
                Send real-time updates on flight status, including delays,
                gate changes, and cancellations. Notify travelers about
                upcoming check-in times and procedures, ensuring they are
                well-prepared for their flights. Provide information on
                baggage claim procedures and carousel numbers upon arrival at
                the destination.
              </p>
            </div>
            <div class="service-icon p-4">
              <i class="fa fa-cog fa-4x text-primary"></i>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
        >
          <div class="service-content text-end">
            <h5 class="mb-4">Flight Search and Comparison</h5>
            <p class="mb-0">
              SkyFlightz provide a user-friendly experience for travelers to
              search for flights based on their preferred dates, destinations,
              and other criteria. Enable comparison of prices, airlines,
              layovers, and travel times.
            </p>
          </div>
          <div class="service-icon p-4">
            <i class="fa fa-4x fa-search text-primary"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
        >
          <div class="service-icon p-4">
            <i class="fa fa-phone fa-4x text-primary"></i>
          </div>
          <div class="service-content">
            <h5 class="mb-4">Customer Support</h5>
            <p class="mb-0">
              Provide round-the-clock customer service through various channels,
              including phone, email, live chat, and social media platforms.
              Offer specialized assistance for booking inquiries, flight
              changes, cancellations, refunds, and general travel advice.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
        >
          <div class="service-content text-end">
            <h5 class="mb-4">Booking Management</h5>
            <p class="mb-0">
              We book the flights for users directly, ensuring the safety of
              personal and payment information. We also take care of the seat
              selection preferences of travelers during the booking process,
              such as window or aisle seats. We provide amends for the users to
              their bookings, such as rescheduling flights or adding extra
              services (e.g., baggage allowance, meal preferences). Skyflightz
              facilitate easy cancellation of bookings with transparent refund
              policies, displaying applicable fees or penalties.
            </p>
          </div>
          <div class="service-icon p-4">
            <i class="fa fa-calendar fa-4x text-primary"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
        >
          <div class="service-icon p-4">
            <i class="fa fa-percent fa-4x text-primary"></i>
          </div>
          <div class="service-content">
            <h5 class="mb-4">Special Offers and Deals</h5>
            <p class="mb-0">
              Feature discounted fares, flash sales, and exclusive offers on
              flights to popular destinations. Bundle flights with hotel
              accommodations, car rentals, or activities, providing
              cost-effective travel packages for customers.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
        >
          <div class="service-content text-end">
            <h5 class="mb-4">Flight Alerts and Notifications</h5>
            <p class="mb-0">
              Send real-time updates on flight status, including delays, gate
              changes, and cancellations. Notify travelers about upcoming
              check-in times and procedures, ensuring they are well-prepared for
              their flights. Provide information on baggage claim procedures and
              carousel numbers upon arrival at the destination.
            </p>
          </div>
          <div class="service-icon p-4">
            <i class="fa fa-comments fa-4x text-primary"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
        >
          <div class="service-icon p-4">
            <i class="fa fa-cog fa-4x text-primary"></i>
          </div>
          <div class="service-content">
            <h5 class="mb-4">Frequent Flyer Programs</h5>
            <p class="mb-0">
              Allow travelers to earn frequent flyer miles or points when
              booking flights through the website. Enable users to redeem
              accumulated miles or points for flight upgrades, free tickets, or
              other rewards offered by partner airlines.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->

<!-- Destination Start -->
<div class="container-fluid destination py-5">
  <div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px">
      <h5 class="section-title px-3">Destinations</h5>
      <h1 class="mb-0">Popular Destinations</h1>
    </div>
    <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active"
            data-bs-toggle="pill"
            href="#tab-1"
          >
            <span class="text-dark" style="width: 150px">All</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-2"
          >
            <span class="text-dark" style="width: 150px">USA</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-3"
          >
            <span class="text-dark" style="width: 150px">Canada</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-4"
          >
            <span class="text-dark" style="width: 150px">Europe</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-5"
          >
            <span class="text-dark" style="width: 150px">China</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-6"
          >
            <span class="text-dark" style="width: 150px">Singapore</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-7"
          >
            <span class="text-dark" style="width: 150px">Indonesia</span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-xl-8">
              <div class="row g-4">
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/US/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">USA</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/US/cover.jpg"
                        data-lightbox="us"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/Canada/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">Canada</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/Canada/cover.jpg"
                        data-lightbox="canada"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/Europe/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">Europe</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/Europe/cover.jpg"
                        data-lightbox="europe"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/China/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">China</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/China/cover.jpg"
                        data-lightbox="china"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="destination-img h-100">
                <img
                  class="img-fluid rounded w-100 h-100"
                  src="../../../assets/images/destinations/Singapore/cover.jpg"
                  style="object-fit: cover; min-height: 300px"
                  alt=""
                />
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Singapore</h4>
                </div>
                <div class="search-icon">
                  <a
                    href="../../../assets/images/destinations/Singapore/cover.jpg"
                    data-lightbox="singapore"
                    ><i
                      class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/cover.jpg"
                  alt=""
                />
                <div class="destination-overlay p-4">
                  <!-- <a
                    href="#"
                    class="btn btn-primary text-white rounded-pill border py-2 px-3"
                    >20 Photos</a
                  > -->
                  <h4 class="text-white mb-2 mt-3">Indonesia</h4>
                </div>
                <div class="search-icon">
                  <a
                    href="../../../assets/images/destinations/Indonesia/cover.jpg"
                    data-lightbox="indonesia"
                    ><i
                      class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/us-2.jpg"
                  alt=""
                  data-lightbox="us"
                />
                <a
                  href="../../../assets/images/destinations/US/us-2.jpg"
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/miami.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/US/miami.jpg"
                  alt=""
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/us-4.jpg"
                  alt=""
                  data-lightbox="us"
                />
                <a
                  href="../../../assets/images/destinations/US/us-4.jpg"
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/miami-2.jpg"
                  alt=""
                  data-lightbox="us"
                />
                <a
                  href="../../../assets/images/destinations/US/miami-2.jpg"
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-3" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Canada/canada-1.jpg"
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Canada/canada-2.jpg"
                  alt=""
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Canada/canada-3.jpg"
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Canada/canada-4.jpg"
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-4" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-1.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Europe/europe-2.jpg"
                  alt=""
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-3.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-4.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-5.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-5.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-5" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/China/china-1.jpg"
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/China/china-2.jpg"
                  alt=""
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/China/china-3.jpg"
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/China/china-4.jpg"
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-6" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-1.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Singapore/singapore-2.jpg"
                  alt=""
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-3.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-4.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>

            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-5.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-5.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-7" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-1.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Indonesia/indonesia-2.jpg"
                  alt=""
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-3.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-4.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>

            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-5.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-5.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Destination End -->

  <!-- Testimonial Start -->
  <div class="container-fluid testimonial py-5">
    <div class="container py-5">
      <div class="mx-auto text-center mb-5" style="max-width: 900px">
        <h5 class="section-title px-3">Testimonial</h5>
        <h1 class="mb-0">Our Clients Say!!!</h1>
      </div>
      <div class="testimonial-carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide
            ><div class="testimonial-item text-center rounded pb-4">
              <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5">
                  Booking flights has never been easier! The website’s intuitive
                  interface and comprehensive search options saved me hours of
                  searching. Plus, their customer service was top-notch!
                </p>
              </div>
              <div class="testimonial-img p-1">
                <i class="fa fa-user fa-4x img-fluid rounded-circle"></i>
              </div>
              <div style="margin-top: -35px">
                <h5 class="mb-0">Sarah K.</h5>
                <p class="mb-0">New York, USA</p>
                <div class="d-flex justify-content-center">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                </div>
              </div></div
          ></ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-item text-center rounded pb-4">
              <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5">
                  I found great deals on flights to multiple destinations
                  through this site. The ability to compare prices and book
                  directly saved me money and hassle. Highly recommend!
                </p>
              </div>
              <div class="testimonial-img p-1">
                <i class="fa fa-user fa-4x img-fluid rounded-circle"></i>
              </div>
              <div style="margin-top: -35px">
                <h5 class="mb-0">Michael L.</h5>
                <p class="mb-0">London, UK</p>
                <div class="d-flex justify-content-center">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide
            ><div class="testimonial-item text-center rounded pb-4">
              <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5">
                  As a frequent traveler, I rely on this site for all my
                  bookings. It’s reliable, offers competitive prices, and the
                  ability to earn miles through my loyalty program is a big
                  bonus!
                </p>
              </div>
              <div class="testimonial-img p-1">
                <i class="fa fa-user fa-4x img-fluid rounded-circle"></i>
              </div>
              <div style="margin-top: -35px">
                <h5 class="mb-0">Anna S.</h5>
                <p class="mb-0">Sydney, Australia</p>
                <div class="d-flex justify-content-center">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                </div>
              </div></div
          ></ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-item text-center rounded pb-4">
              <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5">
                  I appreciate how easy it is to manage my bookings and receive
                  real-time updates on flight status. It’s my go-to for booking
                  flights whether for business or leisure.
                </p>
              </div>
              <div class="testimonial-img p-1">
                <i class="fa fa-user fa-4x img-fluid rounded-circle"></i>
              </div>
              <div style="margin-top: -35px">
                <h5 class="mb-0">Juan M.</h5>
                <p class="mb-0">Madrid, Spain</p>
                <div class="d-flex justify-content-center">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-item text-center rounded pb-4">
              <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5">
                  I love the personalized travel tips and destination guides
                  offered on this site. It’s more than just booking flights—it’s
                  a comprehensive travel planning tool!
                </p>
              </div>
              <div class="testimonial-img p-1">
                <i class="fa fa-user fa-4x img-fluid rounded-circle"></i>
              </div>
              <div style="margin-top: -35px">
                <h5 class="mb-0">Emily H.</h5>
                <p class="mb-0">Toronto, Canada</p>
                <div class="d-flex justify-content-center">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
</div>
