<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-5" style="max-width: 900px">
    <h3 class="text-white display-3 mb-4">Travel Destination</h3>
  </div>
</div>
<!-- Destination Start -->
<div class="container-fluid destination py-5">
  <div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px">
      <h5 class="section-title px-3">Destinations</h5>
      <h1 class="mb-0">Popular Destinations</h1>
    </div>
    <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active"
            data-bs-toggle="pill"
            href="#tab-1"
          >
            <span class="text-dark" style="width: 150px">All</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-2"
          >
            <span class="text-dark" style="width: 150px">USA</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-3"
          >
            <span class="text-dark" style="width: 150px">Canada</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-4"
          >
            <span class="text-dark" style="width: 150px">Europe</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-5"
          >
            <span class="text-dark" style="width: 150px">China</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-6"
          >
            <span class="text-dark" style="width: 150px">Singapore</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
            data-bs-toggle="pill"
            href="#tab-7"
          >
            <span class="text-dark" style="width: 150px">Indonesia</span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-xl-8">
              <div class="row g-4">
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/US/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">USA</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/US/cover.jpg"
                        data-lightbox="us"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/Canada/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">Canada</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/Canada/cover.jpg"
                        data-lightbox="canada"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/Europe/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">Europe</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/Europe/cover.jpg"
                        data-lightbox="europe"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="destination-img">
                    <img
                      class="img-fluid rounded w-100"
                      src="../../../assets/images/destinations/China/cover.jpg"
                      alt=""
                    />
                    <div class="destination-overlay p-4">
                      <!-- <a
                        href="#"
                        class="btn btn-primary text-white rounded-pill border py-2 px-3"
                        >20 Photos</a
                      > -->
                      <h4 class="text-white mb-2 mt-3">China</h4>
                    </div>
                    <div class="search-icon">
                      <a
                        href="../../../assets/images/destinations/China/cover.jpg"
                        data-lightbox="china"
                        ><i
                          class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="destination-img h-100">
                <img
                  class="img-fluid rounded w-100 h-100"
                  src="../../../assets/images/destinations/Singapore/cover.jpg"
                  style="object-fit: cover; min-height: 300px"
                  alt=""
                />
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Singapore</h4>
                </div>
                <div class="search-icon">
                  <a
                    href="../../../assets/images/destinations/Singapore/cover.jpg"
                    data-lightbox="singapore"
                    ><i
                      class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/cover.jpg"
                  alt=""
                />
                <div class="destination-overlay p-4">
                  <!-- <a
                    href="#"
                    class="btn btn-primary text-white rounded-pill border py-2 px-3"
                    >20 Photos</a
                  > -->
                  <h4 class="text-white mb-2 mt-3">Indonesia</h4>
                </div>
                <div class="search-icon">
                  <a
                    href="../../../assets/images/destinations/Indonesia/cover.jpg"
                    data-lightbox="indonesia"
                    ><i
                      class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/us-2.jpg"
                  alt=""
                  data-lightbox="us"
                />
                <a
                  href="../../../assets/images/destinations/US/us-2.jpg"
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/miami.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/US/miami.jpg"
                  alt=""
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/us-4.jpg"
                  alt=""
                  data-lightbox="us"
                />
                <a
                  href="../../../assets/images/destinations/US/us-4.jpg"
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/US/miami-2.jpg"
                  alt=""
                  data-lightbox="us"
                />
                <a
                  href="../../../assets/images/destinations/US/miami-2.jpg"
                  data-lightbox="us"
                ></a>
                <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-3" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Canada/canada-1.jpg"
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Canada/canada-2.jpg"
                  alt=""
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Canada/canada-3.jpg"
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Canada/canada-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Canada/canada-4.jpg"
                  data-lightbox="canada"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-4" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-1.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Europe/europe-2.jpg"
                  alt=""
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-3.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-4.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Europe/europe-5.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Europe/europe-5.jpg"
                  data-lightbox="europe"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-5" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/China/china-1.jpg"
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/China/china-2.jpg"
                  alt=""
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/China/china-3.jpg"
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/China/china-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/China/china-4.jpg"
                  data-lightbox="china"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-6" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-1.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Singapore/singapore-2.jpg"
                  alt=""
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-3.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-4.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>

            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Singapore/singapore-5.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Singapore/singapore-5.jpg"
                  data-lightbox="singapore"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div id="tab-7" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-1.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-1.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-2.jpg"
                  alt=""
                />
                <a
                  class="img-fluid rounded w-100"
                  href="../../../assets/images/destinations/Indonesia/indonesia-2.jpg"
                  alt=""
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-3.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-3.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">NewYork</h4>
                </div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-4.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-4.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>

            <div class="col-lg-6">
              <div class="destination-img">
                <img
                  class="img-fluid rounded w-100"
                  src="../../../assets/images/destinations/Indonesia/indonesia-5.jpg"
                  alt=""
                />
                <a
                  href="../../../assets/images/destinations/Indonesia/indonesia-5.jpg"
                  data-lightbox="indonesia"
                ></a>
                <!-- <div class="destination-overlay p-4">
                  <h4 class="text-white mb-2 mt-3">Miami</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Destination End -->

  <!-- Testimonial Start -->
  <div class="container-fluid testimonial py-5">
    <div class="container py-5">
      <div class="mx-auto text-center mb-5" style="max-width: 900px">
        <h5 class="section-title px-3">Testimonial</h5>
        <h1 class="mb-0">Our Clients Say!!!</h1>
      </div>
      <div class="testimonial-carousel owl-carousel">
        <div class="testimonial-item text-center rounded pb-4">
          <div class="testimonial-comment bg-light rounded p-4">
            <p class="text-center mb-5">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
              nostrum cupiditate, eligendi repellendus saepe illum earum
              architecto dicta quisquam quasi porro officiis. Vero reiciendis,
            </p>
          </div>
          <div class="testimonial-img p-1">
            <img
              src="../../../assets/images/testimonial-1.jpg"
              class="img-fluid rounded-circle"
              alt="Image"
            />
          </div>
          <div style="margin-top: -35px">
            <h5 class="mb-0">John Abraham</h5>
            <p class="mb-0">New York, USA</p>
            <div class="d-flex justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
            </div>
          </div>
        </div>
        <div class="testimonial-item text-center rounded pb-4">
          <div class="testimonial-comment bg-light rounded p-4">
            <p class="text-center mb-5">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
              nostrum cupiditate, eligendi repellendus saepe illum earum
              architecto dicta quisquam quasi porro officiis. Vero reiciendis,
            </p>
          </div>
          <div class="testimonial-img p-1">
            <img
              src="../../../assets/images/testimonial-2.jpg"
              class="img-fluid rounded-circle"
              alt="Image"
            />
          </div>
          <div style="margin-top: -35px">
            <h5 class="mb-0">John Abraham</h5>
            <p class="mb-0">New York, USA</p>
            <div class="d-flex justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
            </div>
          </div>
        </div>
        <div class="testimonial-item text-center rounded pb-4">
          <div class="testimonial-comment bg-light rounded p-4">
            <p class="text-center mb-5">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
              nostrum cupiditate, eligendi repellendus saepe illum earum
              architecto dicta quisquam quasi porro officiis. Vero reiciendis,
            </p>
          </div>
          <div class="testimonial-img p-1">
            <img
              src="../../../assets/images/testimonial-3.jpg"
              class="img-fluid rounded-circle"
              alt="Image"
            />
          </div>
          <div style="margin-top: -35px">
            <h5 class="mb-0">John Abraham</h5>
            <p class="mb-0">New York, USA</p>
            <div class="d-flex justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
            </div>
          </div>
        </div>
        <div class="testimonial-item text-center rounded pb-4">
          <div class="testimonial-comment bg-light rounded p-4">
            <p class="text-center mb-5">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
              nostrum cupiditate, eligendi repellendus saepe illum earum
              architecto dicta quisquam quasi porro officiis. Vero reiciendis,
            </p>
          </div>
          <div class="testimonial-img p-1">
            <img
              src="../../../assets/images/testimonial-4.jpg"
              class="img-fluid rounded-circle"
              alt="Image"
            />
          </div>
          <div style="margin-top: -35px">
            <h5 class="mb-0">John Abraham</h5>
            <p class="mb-0">New York, USA</p>
            <div class="d-flex justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
</div>
<!-- Destination End -->
